h2 {
 font-size: 20px; 
 color: black; 
 text-align: center; 
}
#panel {
    text-align: center;
    margin: auto;
    position: absolute;
    left: 0;
    right: 0;
    z-index: 2;
}
#panel button {
    margin-right: 10px;
}
.range {
    position: relative;
    margin-top: -70px;
    /* float: top; */
    display: none;
    z-index: 10;
}
.range li {
    margin-bottom: 10px;
    list-style-type: none;
    float: left;
    margin-right: 50px;
}
.label {
    /* float: left; */
    margin-right: 10px;
}

#graph {
    margin-top: 50px;
    /* position: absolute; */
    /* z-index: -1; */
    float: top;
}
input[type=range][orient=vertical]
{
    writing-mode: bt-lr; /* IE */
    -webkit-appearance: slider-vertical; /* WebKit */
    width: 8px;
    height: 175px;
    padding: 0 5px;
}

#loading {
   width: 100%;
   height: 100%;
   top: 0;
   left: 0;
   margin:auto;
   position: absolute;
   display: none;
   opacity: 0.8;
   background-color: #fff;
   z-index: 99;
   text-align: center;
}

#loading-image {
  /* position: absolute; */
  /* margin:auto; */
  margin-top: 10%;
  z-index: 100;
}

#setting_panel {
    position: absolute;
    left: 200px;
    right: 200px;
    top: 100px;
    background-color: darkgray;
    display: none;
    z-index: 10;
    opacity: 0.95;
    /* border: 1px solid red; */
    border-radius: 10px;
    box-shadow:0px 0px 10px #000;
}
#ul_setting li {
    list-style-type: none;
}
#ul_setting li span{
    float: left;
    width: 100px;
    text-align: right;
}

#help_icon {
    position: absolute;
    right: 10px;
    top: 10px;
    z-index: 10;
}
#help {
    position: absolute;
    /* left: 200px; */
    top: 100px;
    right: 50px;
    background-color: darkgray;
    display: none;
    z-index: 11;
    opacity: 0.95;
    padding-right: 20px;
    border-radius: 10px;
    box-shadow:0px 0px 10px #000;
}
#help li {
    margin-bottom: 10px;
}
#help #tips {
    color: gray;
    margin-left: 10px;
}
#background {
    position: absolute;
    top: 250px;
    left: 100px;
    right: 100px;
    text-align: center;
    opacity: 0.2;
    z-index: -1;
}



/***************** button style ******************/
/* Normal white Button as seen on Google.com*/
button {
    color: #444444;
    background: #F3F3F3;
    border: 1px #DADADA solid;
    padding: 5px 10px;
    border-radius: 2px;
    font-weight: bold;
    font-size: 9pt;
    outline: none;
}

button:hover {
    border: 1px #C6C6C6 solid;
    box-shadow: 1px 1px 1px #EAEAEA;
    color: #333333;
    background: #F7F7F7;
}

button:active {
    box-shadow: inset 1px 1px 1px #DFDFDF;   
}

/* Blue button as seen on translate.google.com*/
button.blue {
    color: white;
    background: #4C8FFB;
    border: 1px #3079ED solid;
    box-shadow: inset 0 1px 0 #80B0FB;
}

button.blue:hover {
    border: 1px #2F5BB7 solid;
    box-shadow: 0 1px 1px #EAEAEA, inset 0 1px 0 #5A94F1;
    background: #3F83F1;
}

button.blue:active {
    box-shadow: inset 0 2px 5px #2370FE;   
}

/* Orange button as seen on blogger.com*/
button.orange {
    color: white;
    border: 1px solid #FB8F3D; 
    background: -webkit-linear-gradient(top, #FDA251, #FB8F3D);
    background: -moz-linear-gradient(top, #FDA251, #FB8F3D);
    background: -ms-linear-gradient(top, #FDA251, #FB8F3D);
}

button.orange:hover {
    border: 1px solid #EB5200;
    background: -webkit-linear-gradient(top, #FD924C, #F9760B); 
    background: -moz-linear-gradient(top, #FD924C, #F9760B); 
    background: -ms-linear-gradient(top, #FD924C, #F9760B); 
    box-shadow: 0 1px #EFEFEF;
}

button.orange:active {
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.3);
}

/* Red Google Button as seen on drive.google.com */
button.red {
    background: -webkit-linear-gradient(top, #DD4B39, #D14836); 
    background: -moz-linear-gradient(top, #DD4B39, #D14836); 
    background: -ms-linear-gradient(top, #DD4B39, #D14836); 
    border: 1px solid #DD4B39;
    color: white;
    text-shadow: 0 1px 0 #C04131;
}

button.red:hover {
     background: -webkit-linear-gradient(top, #DD4B39, #C53727);
     background: -moz-linear-gradient(top, #DD4B39, #C53727);
     background: -ms-linear-gradient(top, #DD4B39, #C53727);
     border: 1px solid #AF301F;
}

button.red:active {
     box-shadow: inset 0 1px 1px rgba(0,0,0,0.2);
    background: -webkit-linear-gradient(top, #D74736, #AD2719);
    background: -moz-linear-gradient(top, #D74736, #AD2719);
    background: -ms-linear-gradient(top, #D74736, #AD2719);
}

